services:
  # A Docker web service
  - type: web
    name: fastapi-example
    runtime: python
    plan: free
    autoDeploy: true
    # buildCommand: pip install -r requirements.txt
    # buildCommand: pip install . # .toml
    buildCommand: pip install --upgrade pip && pip install . # .toml + pip upgrade
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11